<div class="row mt-3">
    <div class="col"></div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      <h2>Registration</h2>
      <p>Already have an account? Log in <a href="/login">here</a></p>
        <div class="card">
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
                    </div>
                    <button class="btn btn-primary" type="submit">Register</button>
                  </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
